/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	top: 40%;
	left:0px;
	bottom:0px;
	font-family: sans-serif;
	text-align: center;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	overflow: hidden;
	display: none;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.mbr-section-title {
	font-style: normal;
	line-height: 1.3;
	text-align: center;
}

.cid-szI03j8wDO img,
.cid-szI03j8wDO .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}

.cid-szI03j8wDO {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url("../img/background3.jpg");
  }

.cid-szI03j8wDO .item:focus,
.cid-szI03j8wDO span:focus {
	outline: none;
}
.cid-szI03j8wDO .item {
	cursor: pointer;
	margin-bottom: 2rem;
}
.cid-szI03j8wDO .item-wrapper {
	position: relative;
	border-radius: 4px;
	background: #ffffff;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
  }

.slider-wrapper {
	position: relative;
}

.nivo-controlNav {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 100;
	transform: translateX(-50%);
}

.item-wrapper {
	position: relative;
}

@media (min-width: 992px) {
	.cid-szI03j8wDO .item-wrapper .item-content {
	  padding: 2rem 2rem 0;
	}
	.cid-szI03j8wDO .item-wrapper .item-footer {
	  padding: 0 2rem 2rem;
	}
}
@media (max-width: 991px) {
	.cid-szI03j8wDO .item-wrapper .item-content {
	  padding: 1rem 1rem 0;
	}
	.cid-szI03j8wDO .item-wrapper .item-footer {
	  padding: 0 1rem 1rem;
	}
}
.img-thumbnail {
	height: 300px;
	width: 300px;
	margin: auto;
	max-width: 100%;
}
  
.par1 {
	color: black;
}
  
.home {
	display: flex;
	flex-wrap: wrap;
}
  
.in-flex {
	flex: 1;
	text-align: justify;
	min-width: 250px;
}
  
.in-flex:first-child {
	flex: 2;
	padding: 20px;
	background-color: #f0f0f0;
	margin: 20px;
	margin-bottom: 0px;
}
  
.in-flex div {
	padding: 25px;
	background-color: #f0f0f0;
	margin: 20px;
	text-align: justify;
}

tr:nth-child(even){
	background-color: #dddddd;
}