<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/nivo-slider.css">
    <title>nosotros</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="../index.html">
      <img src="../static/img/logo.jpg" href="#" class="rounded-circle" alt="logo" style="width:40px;"> Inicio
    </a>

    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto mt-2">
      <li class="nav-item"><a class="nav-link" href="#">Productos</a></li>
      <li class="nav-item"><a class="nav-link" href="templates/contacto.html">Contacto</a></li>
      <li class="nav-item"><a class="nav-link" href="templates/acerca.html">Acerca de</a></li>
    </ul>
    </div>
</nav>   
<section class="cid-szI03j8wDO home">
    <div class="in-flex">
      <h2>Quienes somos</h2>
      Comercial Avdel es una empresa familiar 100% nicaragüense con principios Cristianos (Servidores de DIOS) con valor agregado para nuestros clientes, les ofrecemos servicios especializados de Bordados y Sublimación creado al deseo y necesidad de nuestros clientes. 
      <br><br>
      <h2>Mision</h2>
      Comercial Avdel empresa dedicada a la imagen y presentación de negocios nicaragüenses dedicados a brindar servicios de Bordados, Sublimación disponiendo una gran variedad de artículos promocionales brindamos soluciones integradas, eficientes e innovadoras a las necesidades del mercado con la calidad que nos identifica y comprometidos con nuestros clientes garantizando un servicio de alta calidad.       
      <br><br>
      <h2>Vision</h2>
      Ser una empresa líder en el mercado, proveer nuestros servicios a todos los sectores empresariales y comerciales, brindando el mejor servicio y calidad del producto.      
      <br><br>
      <h2>Valores</h2>
      Trabajamos con respeto, honestidad, puntualidad, transparencia y humildad para generar confianza con quienes nos relacionamos.     
      <br><br>
      <h2>Objetivos</h2>
      Nuestra empresa se basa en la creatividad de nuestros clientes a la hora de plasmar un mensaje, una historia o simplemente una idea que harán de presentar atraves de su logotipos, haciendo que seamos lideres en calidad y servicio, ampliando en más puntos de venta hasta lograr posicionarnos en un mercado estable. con el objetivo de inducir a nuestros clientes vistan de una manera original, elegante y ofrecerles un productos y servicios de primera calidad.       
      <br><br>
    </div>
    <div class="in-flex">
      <div>
          <h2>Propietarios</h2>
          Cristian Balmaceda
          <br>
          Ana Abaunza
        </div>
      <div><center><img src="../static/img/fon.jpg" class="img-thumbnail"></center></div>
    </div>
</section>
<footer class="footer" id="Footer">
  <link rel="stylesheet" href="../static/css/footer.css">
  <div class="container-footer" data-aos="fade-down">
      <div class="row" data-aos="fade-down">
          <div class="footer-colum" data-aos="fade-down">
              <h4>Compañia</h4>
              <ul>
                 <li><a href="#" id="foo" data-toggle="popover" title="Popover Header" data-trigger="focus" data-content="Some content inside the popover">Sobre nosotros</a></li>
                 <li><a href="#foo1" id="foo1" data-toggle="popover" title="Popover Header" data-trigger="focus" data-content="Some content inside the popover">Nuestros servicios</a></li>
                 <li><a href="#foo2" id="foo2" data-toggle="popover" title="Popover Header" data-trigger="focus" data-content="Some content inside the popover">Politica de privacidad</a></li>   
              </ul>
          </div>
          <div class="footer-colum" data-aos="fade-down">
              <h4>Ayuda</h4>
              <ul>
                 <li><a href="#">FAQ</a></li>
                 <li><a href="#">Paquetes</a></li>
                 <li><a href="#">Soporte tecnico</a></li>
                 <li><a href="#">Metodos de pago</a></li>   
              </ul>
          </div>
          <div class="footer-colum" data-aos="fade-down">
              <h4>Servicios</h4>
              <ul>
                 <li><a href="#">Bordado</a></li>
                 <li><a href="#">Sublimacion</a></li>   
                 <li><a href="#">Bisuteria</a></li>
                 <li><a href="#">Apartados</a></li>
              </ul>
          </div>
          <div class="footer-colum" data-aos="fade-down">
              <h4>Siguemos</h4>
              <div class="redes" data-aos="fade-down">
                  <a href="https://www.facebook.com/comavdel/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.instagram.com/com_avdel/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://api.whatsapp.com/send?phone=50575471653"><i class="fab fa-whatsapp"></i></a>
                  <a href="mailto:gestioncomavdel@hotmail.com"><i class="fas fa-envelope"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>
</body>
</html>
